body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  margin-bottom: 50px;
}

.add-padding-bottom {
  padding-bottom: 4.375rem;
}

.text-font-primary {
  color: #ce973e;
}

.text-font-secondary, .navbar-ul a {
  color: rgba(74, 74, 74, 0.7);
}

.logo img {
  padding-left: 10px;
  padding-top: 10px;
}

.navbar-ul {
  margin: auto;
}
.navbar-ul li {
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1em;
}

.dropdown-toggle:after {
  display: inline-block;
  margin-left: 12px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}

.fixed-comment {
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
}
.fixed-comment div {
  width: 70px;
  height: 70px;
  background-color: #6abfc3;
  border-radius: 50%;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
}
.fixed-comment img {
  position: relative;
  top: 17px;
  left: 15px;
}

.button-secondary {
  color: #eee;
  background-color: #6abfc3;
}

.title-h2 {
  font-weight: lighter;
  font-size: 2.25rem;
  letter-spacing: 0.4px;
  margin-top: 30px;
}

.paragraph {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
}
