body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  margin-bottom: 50px;
}

.add-padding-bottom {
  padding-bottom: 4.375rem;
}

.text-font-primary {
  color: #ce973e;
}

.text-font-secondary, #how-it-works p, .navbar-ul a {
  color: rgba(74, 74, 74, 0.7);
}

.text-semi-black, .title-h4, .title-h3 {
  color: #4a4a4a;
}

.logo img {
  padding-left: 10px;
  padding-top: 10px;
}

.navbar-ul {
  margin: auto;
}
.navbar-ul li {
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1em;
}

.dropdown-toggle:after {
  display: inline-block;
  margin-left: 12px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}

.fixed-comment {
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
}
.fixed-comment div {
  width: 70px;
  height: 70px;
  background-color: #6abfc3;
  border-radius: 50%;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
}
.fixed-comment img {
  position: relative;
  top: 17px;
  left: 15px;
}

#how-it-works img {
  height: 165px;
}
.button-secondary {
  color: #eee;
  background-color: #6abfc3;
}

.button-primary {
  color: #eee;
  background-color: #ce973e;
}

.title-h2 {
  font-weight: lighter;
  font-size: 2.25rem;
  letter-spacing: 0.4px;
  margin-top: 30px;
}

.title-h3 {
  font-size: 1.5rem;
}

.paragraph, #how-it-works p {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  line-height: 1.88;
}

.curriculum-details {
  background-color: #f3f3f3;
}
.curriculum-details h3 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.curriculum-details img {
  padding-top: 10px;
  height: 160px;
  width: 160px;
}

.curriculum-details-img {
  justify-content: center;
}
.curriculum-details-img h3 {
  padding-top: 1px;
  padding-bottom: 1px;
}
.curriculum-details-img div {
  background-color: white;
  width: 254px;
  box-shadow: 1px 7px 16px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  margin-left: 30px;
}

.success-stories {
  background-image: linear-gradient(to bottom, #fff, #eee);
}
.success-stories h3 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.success-stories img {
  margin: 30px 20px 1px 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.success-stories div .default_grid_6 {
  display: flex;
}
.success-stories p {
  text-align: left;
}
.success-stories .success-title {
  margin-bottom: 1px;
}
.success-stories .success-p {
  margin-top: 1px;
}

.read-more a {
  text-decoration: underline;
}

.start-learning {
  padding-bottom: 30px;
}
.start-learning .title-h2 {
  letter-spacing: normal;
}

footer {
  align-items: center;
  justify-content: center;
  height: 277px;
}
footer div {
  align-items: center;
  justify-content: center;
  height: 277px;
}
